$mainBackgroundColor: #e9e9e9;
$mainFontColor: #1d1d1d;
$mainFontFamily: 'Averia Serif Libre', Helvetica;

$darkenAndLightenValue: 10;
$secondDarkenAndLightenValue: 3*$darkenAndLightenValue/4;
$thirdDarkenAndLightenValue: $darkenAndLightenValue/2;

$secondBackgroundColor: lighten($mainBackgroundColor, $darkenAndLightenValue);
$thirdBackgroundColor: lighten($mainBackgroundColor, $secondDarkenAndLightenValue);
$fourthBackgroundColor: lighten($mainBackgroundColor, $thirdDarkenAndLightenValue);

$marginTopBottom: 5vh;
$marginLeftRight: 5vw;

$borderRoundness: .3em;


html {
  height: 100%; 
}

body {
    color: $mainFontColor;
    text-align: center;
    min-height: 100%;
    background-color: $mainBackgroundColor;
    font-family: $mainFontFamily;
    min-width:300px;
}

h1,h2,h3{
    font-weight: bold;
}

p{
    padding: 1em 5%;
    text-align: center;
}

a{
    color: $mainFontColor;  
    text-decoration: none;
}

.cited{
    padding-top: 1em;
    font-style: italic;
}

.aButton{
    display: inline-block;
    padding: 0.5em;
    border-radius: 10px;
    &:hover{
        background-color: rgba(255,255,255,0.1);
    }
}

header{
    padding: 5vh 5% 0 5%;
    h1{
        display: inline-block;
        font-size: 1.8em;
        padding: .2em 1em .6em 1em;
        border-bottom: .12em solid;
    }
}

footer{
    padding-bottom : $marginTopBottom;
}

.mainContent{
    background-color: $secondBackgroundColor;
}

.borderColorBlue{
    border-color:#0077B5;
}

.borderColorRed{
    border-color:#DD5347;
}

.borderColorGreen {
  border-color: #47dd80;
}

.borderColorInstagram{
    border-color: #DD2A7B;
}

.borderColorGoodreads{
    border-color: #311e11;
}

.borderColorTwitter{
    border-color: #08a8e9;
}

.profilePic{
    width: 35%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 .6em .3em darken($fourthBackgroundColor, $darkenAndLightenValue);
    -moz-box-shadow: 0 .6em .3em darken($fourthBackgroundColor, $darkenAndLightenValue);
    box-shadow: 0 .6em .3em darken($fourthBackgroundColor, $darkenAndLightenValue);
    
    max-width: 9.5em;
}

section{
    margin: 0 5%;
}

article{

    max-width: 50em;
    background-color: $fourthBackgroundColor;
    border-radius: $borderRoundness;

    margin:$marginTopBottom auto;
    -webkit-box-shadow: .5em .6em .35em -.35em darken($fourthBackgroundColor, $darkenAndLightenValue);
    -moz-box-shadow: .5em .6em .35em -.35em darken($fourthBackgroundColor, $darkenAndLightenValue);
    box-shadow: .5em .6em .35em -.35em darken($fourthBackgroundColor, $darkenAndLightenValue);

    h2,h3{
        display:inline-block;
        font-size: medium;
        padding: .6em 5%;
        padding-top: 0;
    }
    
    h1{
        background-color: $secondBackgroundColor;
        border-radius: $borderRoundness $borderRoundness 0 0;
        padding: 1em 5%;
        font-size: large;
    }
    
    h2{
        border-bottom: 2px solid;
        margin-bottom: 1em;
    }
}

.articleContentWrap{
    
    padding: 1em;
    .projectGroup{
        display:inline-block;
        vertical-align: top;
        width:49%;
        min-width:200px;
        padding: 1em 0;
    }
    .project{
        display: block;
        padding: 0 5%;
        margin: 0 auto;
    }
}

.infoBlock{
        display: block;
        padding: .0 5%;
        margin: 0 auto;
}

.socialBlock{
        display: inline-block;
        padding: 1em 5%;
}

.swiper-container {
  height: 30vh;
  width: auto;
  padding: 3vh 3vw;}
  .swiper-container .swiper-slide {
    height: 30vh;
    width: auto; }
  .swiper-container img {
    display: block;
    height: 30vh;
    width: auto;
    margin: 0 auto; }

.swiper-container:hover .swiper-button-prev {
  display: block; }
.swiper-container:hover .swiper-button-next {
  display: block; }

.swiper-button-prev {
  display: none; }

.swiper-button-next {
  display: none; }