@import url('https://fonts.googleapis.com/css?family=Vollkorn');

:root{
    --mainBackgroundColor: hsl(0, 0%, 97%);
    --mainFontColor: #21252b;

    --borderShadow: #e6e6e6;
    --secondBackgroundColor: hsl(0, 0%, 98%);
    --thirdBackgroundColor: hsl(0, 0%, 98%);
    --fourthBackgroundColor: hsl(0, 0%, 98%);

    --mainFontFamily: 'Vollkorn', serif;

    --marginTopBottom: 1em;
    --marginLeftRight: 5vw;

    --borderRoundness: .3em;

    --linkColor: #516686;
    
}

@media (prefers-color-scheme: dark) {
    :root{
        --mainBackgroundColor: #151515;
        --mainFontColor: #fcfcfc;

        --linkColor: #b8bec7;
        --borderShadow: #0f0f0f;
        --secondBackgroundColor: #1c1c1c;
        --thirdBackgroundColor: #1c1c1c;
        --fourthBackgroundColor: #1c1c1c;
    }
}

@keyframes linkColorChange {
    from {color: var(--linkColor);}
    to {color: var(--mainFontColor);}
  }


html {
  height: 100%; 
}

body {
    color: var(--mainFontColor);
    text-align: center;
    min-height: 100%;
    background-color: var(--mainBackgroundColor);
    font-family: var(--mainFontFamily);
    min-width:300px;
}

h1,h2,h3{
    font-weight: 600;
}

p{
    padding: 1em 5%;
    line-height: 20pt;
    text-align: center;
}

a{
    color: var(--linkColor);  
    text-decoration: none;
}

a:hover{
    animation-duration: 0.5s;
    animation-name: linkColorChange;
    color: var(--mainFontColor);
}

b{
    font-weight: 650;
}

.cited{
    padding-top: 1em;
    font-style: italic;
}

.aButton{
    display: inline-block;
    padding: 0.5em;
    border-radius: 10px;
}

.swiper-container img {
    border-radius: 2%;
    margin-bottom: 30pt;
    min-height: 300pt;
    width: auto;
}

header{
    padding: var(--marginTopBottom) var(--marginLeftRight);
}

header h1 {
    display: inline-block;
    font-size: 1.8em;
    padding: .2em 1em .6em 1em;
    border-bottom: .12em solid;
}

footer{
    padding-top : var(--marginTopBottom);
}

#cvText{
    display: grid;
    grid-template-areas:
        'introduction'
        'workExperience'
        'portfolio'
        'education'
        'skills'
        'socialMedia'
        'contactInformation';
    justify-content: center;
}

#introduction{
    grid-area: introduction;
}

#workExperience{
    grid-area: workExperience;
}

#portfolio{
    grid-area: portfolio;
}

#education{
    grid-area: education;
}

#skills{
    grid-area: skills;
}

#socialMedia{
    grid-area: socialMedia;
}

#contactInformation{
    grid-area: contactInformation;
}

.mainContent{
    background-color: var(--secondBackgroundColor);
}

.educationItem{
    margin: 2em 0;
}

.educationItem p {
    text-align: justify;
}

.borderBottom{
    border-bottom: 2px solid;
    margin-bottom: 1em;
}

.borderColorBlue{
    border-color:#0077B5;
}

.borderColorRed{
    border-color:#DD5347;
}

.borderColorGreen {
  border-color: #47dd80;
}

.borderColorLanguages{
    border-color: #D65663;
}

.borderColorOfficeApplications{
    border-image:   linear-gradient(to right, #2a4cdd 33.3%, #e28528 33.3%, #e28528 66.6%, #47dd80 66.6%, #47dd80 100%) 3;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.borderColorWordProcessors{
   border-color: #2a4cdd;
}

.borderColorPresentationPrograms{
    border-color: #e28528;
}

.borderColorSpreadsheetPrograms{
    border-color: #47dd80;
}

.borderColorDriversLicence{
    border-color: #8e8e8e;
}

.borderColorGraphicsEditors{
    border-color: #5AC5FA;
}

.swiper-pagination .swiper-pagination-bullet-active {
    color: var(--mainFontColor);
    background-color: var(--mainFontColor); 
    opacity: 1;
  }

.borderColorVersionControlSystems{
    border-color: #eb3c28;
}

.borderColorProgrammingLanguages{
    border-color: #47dd80;
}

.borderColorInstagram{
    border-color: #DD2A7B;
}

.borderColorGoodreads{
    border-color: #fdd5b9;
}

.borderColorTwitter{
    border-color: #08a8e9;
}

img{
    width: 50%;
    max-width: 15.5em;
}

.profilePic{
    width: 70%;
    max-width: 18.5em;
    margin: 2em 1em 1em 1em;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    box-shadow: 0 .6em .3em var(--borderShadow);
}

.iOSAppPic{
    -moz-border-radius: 15.625%;
    -webkit-border-radius: 15.625%;
    border-radius: 15.625%;
    box-shadow: 0 .6em .3em var(--borderShadow);
    background-color: var(--secondBackgroundColor);
}

section{
    margin: 0 3%;
}

article{
    width:100%;
    max-width: 50em;
    background-color: var(--fourthBackgroundColor);
    border-radius: var(--borderRoundness);

    margin:var(--marginTopBottom) auto;
    box-shadow: -2.5em 2.6em 2.35em -2.35em var(--borderShadow);
}

h2, h3 {
    display: inline-block;
    font-size: medium;
    padding: 0.6em 5%;
    padding-top: 0;
}
h1 {
    background-color: var(--secondBackgroundColor);
    border-radius: 0.3em 0.3em 0 0;
    padding: 1em 5%;
    font-size: large;
}
h2 {
    
}



.articleContentWrap {
    padding: 1em;
  }

.itemYear{
    display: grid;
    grid-template-columns: 1fr 2fr;
}



.skillWrap{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

}

.languages{
    grid-column: span 6;
}

.programmingLanguages{
    grid-column: span 3;
}

.versionControlSystems{
    grid-column: span 3;
}

.graphicsEditors{
    grid-column: span 3;
}

.officeApplications{
    grid-column: span 3;
}

.driversLicence{
    grid-column: span 6;
}

.projectGroup {
    display: inline-block;
    vertical-align: top;
    width: 49%;
    min-width: 200px;
    padding: 1em 0;
  }
.project {
    display: block;
    padding: 0 5%;
    margin: 0 auto;
  }

.infoBlock{
        display: block;
        padding: .0 5%;
        margin: 0 auto;
}

.socialBlock, .skillBlock{
        display: inline-block;
        vertical-align: top;
        padding: 1em 5%;
}

.red{
    color: #e55050;
}

@media print {
    
    footer, #portfolio, #socialMedia{
        display:none;
    }
    
    article{
        box-shadow: none;
    }
    
    #cvText{
    grid-template-areas:
        'introduction'
        'contactInformation'
        'portfolio'
        'workExperience'
        'education'
        'skills'
        'socialMedia';
    }
    
}