@import url('https://fonts.googleapis.com/css?family=Vollkorn');

:root{
    --mainBackgroundColor: #fcfcfc;
    --mainFontColor: #21252b;

    --borderShadow: #e6e6e6;
    --secondBackgroundColor: #fcfcfc;
    --thirdBackgroundColor: #fcfcfc;
    --fourthBackgroundColor: #fcfcfc;

    --mainFontFamily: 'Vollkorn', serif;

    --marginTopBottom: 5vh;
    --marginLeftRight: 5vw;

    --borderRoundness: .3em;
}

@media (prefers-color-scheme: dark) {
    :root{
        --mainBackgroundColor: #151515;
        --mainFontColor: #fcfcfc;
        
        --borderShadow: #020202;
        --secondBackgroundColor: #1c1c1c;
        --thirdBackgroundColor: #1c1c1c;
        --fourthBackgroundColor: #1c1c1c;
    }
}

html {
  height: 100%; 
}

body {
    color: var(--mainFontColor);
    text-align: center;
    min-height: 100%;
    background-color: var(--mainBackgroundColor);
    font-family: var(--mainFontFamily);
    min-width:300px;
}

h1,h2,h3{
    font-weight: bold;
}

p{
    padding: 1em 5%;
    line-height: 20pt;
    text-align: center;
}

a{
    color: var(--mainFontColor);  
    text-decoration: none;
}

b{
    font-weight: bold;
}

.cited{
    padding-top: 1em;
    font-style: italic;
}

.aButton{
    display: inline-block;
    padding: 0.5em;
    border-radius: 10px;
}

header{
    padding: 5vh 5% 0 5%;
}

header h1 {
    display: inline-block;
    font-size: 1.8em;
    padding: .2em 1em .6em 1em;
    border-bottom: .12em solid;
}

footer{
    padding-bottom : var(--marginTopBottom);
}

.mainContent{
    background-color: var(--secondBackgroundColor);
}

.educationItem{
    margin: 2em 0;
}

.educationItem p {
    text-align: justify;
}

.borderBottom{
    border-bottom: 2px solid;
    margin-bottom: 1em;
}

.borderColorBlue{
    border-color:#0077B5;
}

.borderColorRed{
    border-color:#DD5347;
}

.borderColorGreen {
  border-color: #47dd80;
}

.borderColorLanguages{
    border-color: #D65663;
}

.borderColorOfficeApplications{
    border-image:   linear-gradient(to right, #2a4cdd 33.3%, #e28528 33.3%, #e28528 66.6%, #47dd80 66.6%, #47dd80 100%) 3;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.borderColorWordProcessors{
   border-color: #2a4cdd;
}

.borderColorPresentationPrograms{
    border-color: #e28528;
}

.borderColorSpreadsheetPrograms{
    border-color: #47dd80;
}

.borderColorDriversLicence{
    border-color: #8e8e8e;
}

.borderColorGraphicsEditors{
    border-color: #5AC5FA;
}

.borderColorVersionControlSystems{
    border-color: #eb3c28;
}

.borderColorProgrammingLanguages{
    border-color: #d32839;
}

.borderColorInstagram{
    border-color: #DD2A7B;
}

.borderColorGoodreads{
    border-color: #fdd5b9;
}

.borderColorTwitter{
    border-color: #08a8e9;
}

.profilePic{
    width: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 .6em .3em var(--borderShadow);
    -moz-box-shadow: 0 .6em .3em var(--borderShadow);
    box-shadow: 0 .6em .3em var(--borderShadow);
    
    max-width: 15.5em;
}

section{
    margin: 0 3%;
}

article{

    max-width: 50em;
    background-color: var(--fourthBackgroundColor);
    border-radius: var(--borderRoundness);

    margin:var(--marginTopBottom) auto;
    -webkit-box-shadow: .5em .6em .35em -.35em var(--borderShadow);
    -moz-box-shadow: .5em .6em .35em -.35em var(--borderShadow);
    box-shadow: .5em .6em .35em -.35em var(--borderShadow);
}

h2, h3 {
    display: inline-block;
    font-size: medium;
    padding: 0.6em 5%;
    padding-top: 0;
}
h1 {
    background-color: var(--secondBackgroundColor);
    border-radius: 0.3em 0.3em 0 0;
    padding: 1em 5%;
    font-size: large;
}
h2 {
    
}



.articleContentWrap {
    padding: 1em;
  }

.itemYear{
    display: grid;
    grid-template-columns: 1fr 2fr;
}



.skillWrap{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

}

.languages{
    grid-column: span 6;
}

.programmingLanguages{
    grid-column: span 3;
}

.versionControlSystems{
    grid-column: span 3;
}

.graphicsEditors{
    grid-column: span 3;
}

.officeApplications{
    grid-column: span 3;
}

.driversLicence{
    grid-column: span 6;
}

.projectGroup {
    display: inline-block;
    vertical-align: top;
    width: 49%;
    min-width: 200px;
    padding: 1em 0;
  }
.project {
    display: block;
    padding: 0 5%;
    margin: 0 auto;
  }

.infoBlock{
        display: block;
        padding: .0 5%;
        margin: 0 auto;
}

.socialBlock, .skillBlock{
        display: inline-block;
        vertical-align: top;
        padding: 1em 5%;
}

.red{
    color: #e55050;
}

@media print {
    
    footer, #portfolio, #socialMedia{
        display:none;
    }
    
}